<section id="middleContent">
  <section class="content">
    <h1>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cumque voluptates id deleniti tempora odio. Nemo
      iure,
      labore doloribus ipsum corrupti eligendi suscipit animi, impedit, minima quaerat debitis similique optio iste
      est
      soluta ducimus ipsam. Neque dicta, repudiandae temporibus, adipisci asperiores quisquam nihil quod debitis
      harum
      eaque itaque numquam eum. Exercitationem iusto facilis at aliquid in excepturi aliquam doloremque aspernatur
      accusamus ut! Odit ducimus iusto nulla quae libero, molestiae voluptates dolorum et! Eaque in et libero earum
      quaerat, animi qui quod cupiditate error soluta eum deserunt sapiente harum rerum aperiam nisi? Quod, facilis
      porro fugit unde enim ut sit dolorum eum?</h1>

  </section>

</section>