<nav>
    <app-left-menu [menuitems]="menuCirth" page="cirth-page"></app-left-menu>
</nav>
<main>
    <app-middle-content content='<section>
        <h1 id="O_que_sao_as_Cirth">O que são as Cirth?</h1>
        <p>
            As <span class="highlight">Cirth</span> são um sistema de escrita fictício criado pelo renomado autor e
            filólogo <span class="highlight">J.R.R. Tolkien</span>, mais conhecido por suas obras como "O Senhor dos
            Anéis" e "O Hobbit". O termo "Cirth" (singular: <em>Certh</em>) deriva da palavra élfica que significa
            "runas". Esse sistema de escrita foi desenvolvido para ser utilizado pelos povos da Terra-média,
            especialmente pelos <span class="highlight">Anãos</span> e pelos <span class="highlight">Elfos</span>.
        </p>
    </section>

    <section>
        <h1 id="A_Criacao_das_Cirth">A Criação das Cirth</h1>
        <p>
            As Cirth foram criadas pelos <span class="highlight">Elfos Sindar</span> de Beleriand, liderados pelo rei
            <span class="highlight">Thingol</span>. Inicialmente, o sistema foi concebido como uma forma de escrita
            simples, mas eficaz, para ser utilizada em inscrições em pedra e metal. O desenvolvimento das Cirth foi
            influenciado pelo sistema de escrita élfico mais antigo, conhecido como <span
                class="highlight">Tengwar</span>, que era mais adequado para escrita cursiva em materiais como
            pergaminho.
        </p>
        <p>
            No entanto, as Cirth ganharam maior destaque quando os <span class="highlight">Anãos</span> adotaram e
            adaptaram o sistema para suas próprias necessidades. Os Anãos, conhecidos por sua habilidade em trabalhar
            com metais e pedras, encontraram nas Cirth um sistema ideal para suas inscrições em armas, armaduras e
            portais de suas cidades subterrâneas, como <span class="highlight">Khazad-dûm</span> (Moria).
        </p>
    </section>

    <section>
        <h1 id="O_Desenvolvimento_do_Sistema">O Desenvolvimento do Sistema</h1>
        <p>
            O sistema original das Cirth, conhecido como <span class="highlight">Certhas</span>, foi expandido e
            modificado ao longo do tempo. A versão mais conhecida e utilizada é a <span
                class="highlight">Angerthas</span>, que foi ampliada para incluir mais caracteres e representar sons
            adicionais. Essa expansão foi necessária para atender às necessidades linguísticas dos diferentes povos que
            utilizavam as Cirth, incluindo os Anãos e os Homens.
        </p>
        <p>
            Uma das versões mais famosas das Cirth é a <span class="highlight">Angerthas Moria</span>, que foi utilizada
            pelos Anãos de Moria. Essa versão incluía runas adicionais para representar sons específicos da língua dos
            Anãos, o <span class="highlight">Khuzdul</span>, que era uma língua secreta e raramente escrita.
        </p>
    </section>

    <section>
        <h1 id="O_Uso_das_Cirth_na_Terra_Media">O Uso das Cirth na Terra-média</h1>
        <p>
            As Cirth foram amplamente utilizadas na Terra-média, especialmente pelos Anãos. Elas eram gravadas em
            portais, túmulos, armas e outros objetos de importância cultural e histórica. Um exemplo famoso é a
            inscrição na <span class="highlight">Porta de Durin</span>, a entrada ocidental de Moria, que dizia: "Fale,
            amigo, e entre" (<em>Speak, friend, and enter</em>). Essa inscrição foi escrita em Cirth e em élfico,
            demonstrando a integração cultural entre os povos da Terra-média.
        </p>
        <p>
            Além disso, as Cirth também foram usadas por outros povos, como os <span class="highlight">Homens de
                Gondor</span>, que as adaptaram para suas próprias línguas. No entanto, o uso das Cirth nunca superou a
            popularidade das Tengwar entre os Elfos, que preferiam a elegância e a versatilidade desse sistema para a
            escrita cotidiana.
        </p>
    </section>

    <section>
        <h1 id="O_Legado_das_Cirth">O Legado das Cirth</h1>
        <p>
            As Cirth são um exemplo notável da profundidade e do detalhamento que J.R.R. Tolkien dedicou à criação de
            seu mundo fictício. Elas não apenas servem como um sistema de escrita funcional dentro do universo da
            Terra-média, mas também refletem a rica história e as interações culturais entre os diferentes povos que
            habitam esse mundo.
        </p>
        <p>
            Para os fãs de Tolkien, as Cirth representam mais do que um conjunto de runas; elas são uma janela para a
            complexidade linguística e cultural que tornam a Terra-média um lugar tão fascinante e imersivo. Até hoje,
            as Cirth continuam a ser estudadas e utilizadas por entusiastas, que as empregam em artesanato, tatuagens e
            outras formas de expressão artística.
        </p>

        <h1 id="Cirth_Erebor">Cirth Erebor</h1>

        <p>
            As <span class="highlight">Cirth Erebor</span> são uma variação do sistema rúnico <span class="highlight">Cirth</span>. Essa versão específica 
            foi adaptada pelos <span class="highlight">anãos de Erebor</span>, a Montanha Solitária, tornando-se um dos principais alfabetos 
            usados por eles. As runas <span class="highlight">Cirth</span> foram originalmente desenvolvidas pelos <em>elfos Sindarin</em>, 
            mas os anãos as modificaram para melhor se adequar ao seu próprio idioma, o <span class="highlight">Khuzdul</span>. Elas foram amplamente utilizadas pelos anãos em tumbas, portões e documentos históricos, 
            como o famoso <em>Mapa de Thrór</em>, que guiou Thorin Escudo de Carvalho e sua companhia até Erebor em <em>O Hobbit</em>.
          </p>

        <table>
            <thead>
                <tr>
                    <th>Letra</th>
                    <th>Cirth</th>
                    <th>Som</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td class="cirth">A</td>
                    <td>/a/</td>
                </tr>
                <tr>
                    <td>B</td>
                    <td class="cirth">B</td>
                    <td>/b/</td>
                </tr>
                <tr>
                    <td>C</td>
                    <td class="cirth">C</td>
                    <td>/k/</td>
                </tr>
                <tr>
                    <td>D</td>
                    <td class="cirth">D</td>
                    <td>/d/</td>
                </tr>
                <tr>
                    <td>E</td>
                    <td class="cirth">E</td>
                    <td>/e/</td>
                </tr>
                <tr>
                    <td>F</td>
                    <td class="cirth">F</td>
                    <td>/f/</td>
                </tr>
                <tr>
                    <td>G</td>
                    <td class="cirth">G</td>
                    <td>/g/</td>
                </tr>
                <tr>
                    <td>I</td>
                    <td class="cirth">I</td>
                    <td>/i/</td>
                </tr>
                <tr>
                    <td>J</td>
                    <td class="cirth">J</td>
                    <td>/j/</td>
                </tr>
                <tr>
                    <td>K</td>
                    <td class="cirth">K</td>
                    <td>/k/</td>
                </tr>
                <tr>
                    <td>L</td>
                    <td class="cirth">L</td>
                    <td>/l/</td>
                </tr>
                <tr>
                    <td>M</td>
                    <td class="cirth">M</td>
                    <td>/m/</td>
                </tr>
                <tr>
                    <td>O</td>
                    <td class="cirth">O</td>
                    <td>/o/</td>
                </tr>
                <tr>
                    <td>P</td>
                    <td class="cirth">P</td>
                    <td>/p/</td>
                </tr>
                <tr>
                    <td>Q</td>
                    <td class="cirth">Q</td>
                    <td>/kw/</td>
                </tr>
                <tr>
                    <td>R</td>
                    <td class="cirth">R</td>
                    <td>/r/</td>
                </tr>
                <tr>
                    <td>S</td>
                    <td class="cirth">S</td>
                    <td>/s/</td>
                </tr>
                <tr>
                    <td>T</td>
                    <td class="cirth">T</td>
                    <td>/t/</td>
                </tr>
                <tr>
                    <td>U</td>
                    <td class="cirth">U</td>
                    <td>/u/</td>
                </tr>
                <tr>
                    <td>V</td>
                    <td class="cirth">V</td>
                    <td>/v/</td>
                </tr>
                <tr>
                    <td>W</td>
                    <td class="cirth">W</td>
                    <td>/w/</td>
                </tr>
                <tr>
                    <td>X</td>
                    <td class="cirth">X</td>
                    <td>/ks/</td>
                </tr>
                <tr>
                    <td>Z</td>
                    <td class="cirth">Z</td>
                    <td>/z/</td>
                </tr>
            </tbody>
        </table>
    </section>
    '> </app-middle-content>



</main>