<header class="header">
  <div class="container">
    <button class="menu-btn" (click)="toggleMenu()">☰</button>
    <img src="/CirthPortalLogo.png" alt="logo" id="logo" />
  </div>
</header>

<!-- Menu Lateral -->
<nav class="side-menu" [ngClass]="{ 'open': menuOpen }">
  <button class="close-btn" (click)="toggleMenu()">×</button>
  <ul>
    <li><a routerLink="/" (click)="toggleMenu()">Home</a></li>
    <li><a routerLink="/cirth-page" (click)="toggleMenu()">Cirth Page</a></li>
    <li><a routerLink="tengwar" (click)="toggleMenu()">Tengwar</a></li>
  </ul>
</nav>


<router-outlet></router-outlet>