@font-face {
    font-family: 'CirthFont'; /* Name your font family */
    src: url('C:/Users/aliss/AppData/Local/Microsoft/Windows/Fonts/Erebcap1.ttf'); /* Locate the .ttf file within your directory*/
  }

  @font-face {
    font-family: 'TengwarFont'; /* Name your font family */
    src: url('C:/Users/aliss/AppData/Local/Microsoft/Windows/Fonts/tengwarfeanorregular.ttf'); /* Locate the .ttf file within your directory*/
  }

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background: #dee7e7;
}

