
<main>
    <app-middle-content content='
    <a href="Bem-Vindo">
        <h1 id="title">Bem-vindo ao Cirth Portal</h1>
      </a>
      <p>O <strong>Cirth Portal</strong> é um site dedicado ao estudo e à exploração
        dos sistemas de escrita desenvolvidos por <strong>J.R.R. Tolkien</strong>,
        criador de <em>O Senhor dos Anéis</em> e <em>O Hobbit</em>. Aqui,
        você encontrará informações detalhadas sobre os alfabetos <strong>Cirth</strong>
        e <strong>Tengwar</strong>, usados pelos povos da Terra-média.</p>
        <a href="Encontrar">
            <h2>O que você encontrará aqui?</h2>
          </a>
          <ul>
            <li>História e evolução dos sistemas Cirth e Tengwar</li>
            <li>Guias para aprender a ler e escrever nesses alfabetos</li>
            <li>Tabelas e exemplos de cada símbolo</li>
            <li>Curiosidades e usos na obra de Tolkien</li>
          </ul>

          <a href="Cirth">
            <h2>O que são as Cirth?</h2>
          </a>
          <p>As <strong>Cirth</strong> são um sistema de runas criado por Tolkien e
            utilizado principalmente pelos anãos. Sua origem está ligada aos <em>Sindar</em>, os elfos de Beleriand, mas os
            anões adotaram e modificaram essas runas para criar sua própria escrita.</p>
            <div class="fragment">
                <a href="Runas">
                  <h2>Exemplo de utilização das runas Cirth</h2>
                </a>
                <p class="cirth">
                  Fique junto à pedra cinzenta quando o tordo bater,e o último raio do sol poente do Dia de Durinbrilhará sobre a
                  fechadura.
                </p>
          
                <p class="explanation">
                  "Fique junto à pedra cinzenta quando o tordo bater, e o último raio do sol poente do Dia de Durin brilhará sobre
                  a
                  fechadura."
                </p>
          
              </div>

              <h2>O que são as Tengwar?</h2>
              <p>As <strong>Tengwar</strong> (ou "Letras") foram desenvolvidas por Fëanor, um dos maiores sábios élficos. Ao contrário das Cirth, que são mais rígidas e inspiradas em inscrições rúnicas, as Tengwar são baseadas em princípios fonéticos e podem ser adaptadas para diversas línguas, incluindo o <em>Quenya</em>, o <em>Sindarin</em> e até idiomas humanos.</p>

              <div class="fragment">
                <h2>Exemplo de utilização do alfabeto Tengwar</h2>
          
                <p class="tengwar">
                  Seja ele inimigo ou amigo, seja ele imundo ou puro,
          descendente de Morgoth ou Vala luminoso,
          Elfo, Maia ou um dos que vieram depois...
                </p>
          
                <div class="explanation">
                  "Seja ele inimigo ou amigo, seja ele imundo ou puro,
                  descendente de Morgoth ou Vala luminoso,
                  Elfo, Maia ou um dos que vieram depois..."
                </div>
              </div>
    '></app-middle-content>
</main>

